<esn-navigation-dark></esn-navigation-dark>
<esn-article [title]="'Contact us!'">
  <div class="flex items-center flex-col lg:flex-row mb-8 border-gray border-b">
    <div class="mx-4 basis-1/3">
      <object
        data="/assets/say-hi-to-esn.jpg"
        alt="Image of young people under a huge flag blanket and someone is holding a sign Say Hi to ESN"
        class="max-w-1/3 m-auto h-72"
        title="#sayHitoESN"
      ></object>
    </div>
    <div class="m-6 mt-4 text-xl basis-2/3">
      Contact us if you have any question, concern or just want to say hi:
      <ul class="list-disc">
        <li class="ml-12 my-3">
          Write an email to
          <a
            href="mailto:board@esn-germany.de"
            class="text-esn-dark-blue hover:underline"
            >board@esn-germany.de</a
          >.
        </li>
        <li class="ml-12 my-3">
          Look for the
          <a
            routerLink="/for-students"
            routerLinkActive="active"
            class="text-esn-dark-blue hover:underline"
            >section closest to you</a
          >
          and join them, or found a new one!
        </li>
        <li class="ml-12 my-3">Follow us on Social Media:</li>
        <div class="flex flex-wrap justify-between mx-32 w-1/2">
          <div class="flex flex-wrap justify-center hover:underline">
            <a
              href="https://www.facebook.com/esngermany/"
              target="_blank"
              rel="noopener"
            >
              <img
                src="/assets/social/facebook-color.png"
                alt="Facebook logo coloured"
                class="zoom w-16 mb-3 m-auto"
              />
              <p>Facebook</p>
            </a>
          </div>
          <div class="flex flex-wrap justify-center hover:underline">
            <a
              href="https://www.instagram.com/esngermany/"
              target="_blank"
              rel="noopener"
            >
              <img
                src="/assets/social/instagram-color.png"
                alt="Instagram logo coloured"
                class="zoom w-16 mb-3 m-auto"
              />
              <p>Instagram</p>
            </a>
          </div>
        </div>
      </ul>
    </div>
  </div>
  <div class="my-8 pb-8 border-gray border-b">
    <div class="flex flex-wrap justify-between">
      <div class="basis-2/3">
        <div class="font-bold text-2xl mt-4 mb-3">Incident Report</div>
        <div class="text-xl">
          If you have witnessed or been a victim of a violation of the Code of
          Conduct of ESN Germany, please let us know by filling out the incident
          report form. You have the option to submit the form anonymously, but
          if you would like to discuss the incident with our CoC-Team, please
          provide your contact information.
        </div>
      </div>
      <img
        class="h-48"
        src="/assets/incident-form.png"
        alt="Screenshot of Google Forms about reporting an incident"
      />
    </div>
  </div>
  <div class="flex items-center flex-col lg:flex-row mb-24">
    <div class="m-4 basis-1/2">
      <object
        data="/assets/logo/DE_colour.png"
        alt="ESN Germany Logo"
        class="max-w-2/5 m-auto h-48"
        title="ESN Germany Logo"
      ></object>
    </div>
    <div class="m-6 text-xl basis-1/2">
      <p class="font-bold mb-2">Erasmus Student Network Deutschland e.V.</p>
      <p>c/o International Office</p>
      <p>Ruhr Universität Bochum</p>
      <p>Universitätsstraße 150</p>
      <p>44801 Bochum</p>
      <p class="mt-2">board@esn-germany.de</p>
    </div>
  </div>
</esn-article>
<esn-footer></esn-footer>
