<esn-navigation></esn-navigation>
<esn-article [title]="'Sections of ESN Germany'">
  <ul class="px-8 m-auto block list-disc mb-8">
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        href="https://augsburg.esn.world/"
        target="_blank"
        rel="noopener"
        >ESN Auxchange Augsburg
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        href="https://berlin.esn-germany.de/"
        target="_blank"
        rel="noopener"
        >ESN Berlin
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        href="https://bielefeld.esn-germany.de/"
        target="_blank"
        rel="noopener"
        >ESN Bielefeld
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        href="https://bochum.esn-germany.de/"
        target="_blank"
        rel="noopener"
        >ESN Bochum
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        href="https://bonn.esn-germany.de/"
        target="_blank"
        rel="noopener"
        >ESN Bonn
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        href="https://braunschweig.esn-germany.de/"
        target="_blank"
        rel="noopener"
        >ESN Braunschweig
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        href="https://darmstadt.esn-germany.de/"
        target="_blank"
        rel="noopener"
        >ESN Darmstadt
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        href="https://deggendorf.esn-germany.de/"
        target="_blank"
        rel="noopener"
        >ESN AKI-Deggendorf
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        href="https://duesseldorf.esn-germany.de/"
        target="_blank"
        rel="noopener"
        >ESN Düsseldorf
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        href="https://unifrankfurt.esn-germany.de/"
        target="_blank"
        rel="noopener"
        >ESN Frankfurt (Main)
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        href="https://frankfurt-oder.esn-germany.de/"
        target="_blank"
        rel="noopener"
        >ESN Frankfurt (Oder)
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        href="https://freiburg.esn-germany.de/"
        target="_blank"
        rel="noopener"
        >ESN Freiburg
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        href="https://goettingen.esn-germany.de/"
        target="_blank"
        rel="noopener"
        >ESN Göttingen
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        href="https://halle.esn-germany.de/"
        target="_blank"
        rel="noopener"
        >ESN Halle
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        href="https://hamburg.esn-germany.de/"
        target="_blank"
        rel="noopener"
        >ESN Hamburg
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        href="https://hannover.esn-germany.de/"
        target="_blank"
        rel="noopener"
        >ESN Hannover
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        href="https://heidelberg.esn-germany.de/"
        target="_blank"
        rel="noopener"
        >ESN Heidelberg
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        href="https://hildesheim.esn-germany.de/"
        target="_blank"
        rel="noopener"
        >ESN Hildesheim
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        href="https://htwdresden.esn-germany.de/"
        target="_blank"
        rel="noopener"
        >ESN HTW Dresden
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        href="https://ingolstadt.esn-germany.de/"
        target="_blank"
        rel="noopener"
        >ESN Ingolstadt
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        href="https://jena.esn-germany.de/"
        target="_blank"
        rel="noopener"
        >ESN Jena
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        href="https://kaiserslautern.esn-germany.de/"
        target="_blank"
        rel="noopener"
        >ESN Kaiserslautern
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        href="https://karlsruhe.esn-germany.de/"
        target="_blank"
        rel="noopener"
        >ESN Karlsruhe
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        href="https://kiel.esn-germany.de/"
        target="_blank"
        rel="noopener"
        >ESN Kiel
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        href="https://koblenz.esn-germany.de/"
        target="_blank"
        rel="noopener"
        >ESN Koblenz
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        href="https://koeln.esn-germany.de/"
        target="_blank"
        rel="noopener"
        >ESN Köln
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        href="https://konstanz.esn-germany.de/"
        target="_blank"
        rel="noopener"
        >ESN Konstanz
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        href="https://landau.esn-germany.de/"
        target="_blank"
        rel="noopener"
        >ESN Landau
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        href="https://greifswald.esn-germany.de/"
        target="_blank"
        rel="noopener"
        >ESN LEI Greifswald
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        href="https://rostock.esn-germany.de/"
        target="_blank"
        rel="noopener"
        >ESN LEI Rostock
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        href="https://luebeck.esn-germany.de/"
        target="_blank"
        rel="noopener"
        >ESN Lübeck
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        href="https://mesa.esn-germany.de/"
        target="_blank"
        rel="noopener"
        >ESN MESA München
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        href="https://tumi.esn.world/home"
        target="_blank"
        rel="noopener"
        >ESN TUMi München
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        href="https://pforzheim.esn-germany.de/"
        target="_blank"
        rel="noopener"
        >ESN Pforzheim
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        href="https://potsdam.esn-germany.de/"
        target="_blank"
        rel="noopener"
        >ESN Potsdam
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        href="https://saarbruecken.esn-germany.de/"
        target="_blank"
        rel="noopener"
        >ESN Saarbrücken
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        href="https://siegen.esn-germany.de/"
        target="_blank"
        rel="noopener"
        >ESN Siegen
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        href="https://stuttgart.esn-germany.de/"
        target="_blank"
        rel="noopener"
        >ESN Stuttgart
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        href="https://tudresden.esn-germany.de/"
        target="_blank"
        rel="noopener"
        >ESN TU Dresden
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        href="https://witten.esn-germany.de/"
        target="_blank"
        rel="noopener"
        >ESN Witten/Herdecke
      </a>
    </li>
  </ul>
  <p class="mb-24 text-center">
    If your association is interested in becoming part of the ESN family, please
    contact us at
    <a
      href="mailto:board@esn-germany.de"
      target="_blank"
      rel="noopener"
      class="text-esn-dark-blue hover:underline"
      >board@esn-germany.de</a
    >
    and we will get back to you.
  </p>
</esn-article>
<esn-footer></esn-footer>
