.bg {
  background: #2e3192;
  background-image: url("../../../assets/landing3.png");
  background-position: center;
  background-size: cover;
  z-index: -1;
  padding-bottom: 99px;
}

.custom-shape-divider-bottom-1603982404 {
  position: absolute;
  top: 136px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1603982404 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 99px;
}

.custom-shape-divider-bottom-1603982404 .shape-fill {
  fill: #fff;
}
.divider-top {
  position: absolute;
  top: 136px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.divider-top svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 64px;
}

.divider-top .shape-fill {
  fill: #2e3192;
}

.addhover:hover:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -4px;
  width: 48px;
  height: 3px;
  background: #fff;
}

.addhoverActive:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -4px;
  width: 48px;
  height: 3px;
  background: #fff;
}
.menu {
  position: absolute;
  top: 0;
  right: 0;
}

.vis {
  display: block;
}
