.extra {
  background: #3a3a3a;
  //   background-image: url("../../../assets/landing/landing3.png");
  //   background-position: center;
  //   background-size: cover;
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.5s ease-in-out;
  height: 80px;
}
