<app-navigation-dark></app-navigation-dark>
<div class="max-w-screen-xl m-auto sm:px-16 xl:mt-16 lg:mt-8 sm:mt-4">
  <div class="px-8 mb-24" routerLinkActive="active">
    <div class="m-auto mb-8 relative font-body">
      <p class="font-heading text-esn-dark-blue font-bold text-4xl title">
        Imprint
      </p>
    </div>
    <ng-container *ngIf="imprintItem$ | async as imprintItem; else loading">
      <markdown [data]="imprintItem[0].Content"></markdown>
    </ng-container>
    <ng-template #loading>
      <img width="200px" class="m-auto" src="assets/ESN-star-spinner.gif" />
    </ng-template>
  </div>
</div>
<app-footer></app-footer>
