<app-navigation-dark></app-navigation-dark>
<div class="max-w-screen-xl m-auto sm:px-16 xl:mt-16 lg:mt-8 sm:mt-4">
  <div class="px-8 mb-24" routerLinkActive="active">
    <div class="m-auto mb-8 relative">
      <p class="font-heading text-esn-dark-blue font-bold text-4xl title">
        Imprint
      </p>
    </div>
    <div class="m-auto block mb-8 font-body text-lg">
      <p class="font-bold pb-2">Authorized Board of Directors</p>
      <p>
        President: Pedro González, ESN Karlsruhe<br />
        Vice President: Jona Winstroth, ESN Düsseldorf<br />
        Treasurer: Luís Ribeiro Henriques, ESN Göttingen
      </p>
      <p class="font-bold pt-8 pb-2">Postal Address</p>
      <p class="pb-4">
        Erasmus Student Network Deutschland e.V.<br />
        c/o International Office<br />
        Ruhr Universität Bochum<br />
        Universitätsstraße 150<br />
        44801 Bochum
      </p>
      <p>
        Association registration number: VR 3762 - Amtsgericht Bochum<br />
        Email:
        <a
          href="mailto:board@esn-germany.de"
          target="_blank"
          rel="noopener"
          class="text-esn-dark-blue hover:underline"
        >
          board@esn-germany.de </a
        ><br />
        Website:
        <a
          href="https://www.esn-germany.de"
          target="_blank"
          rel="noopener"
          class="text-esn-dark-blue hover:underline"
        >
          www.esn-germany.de</a
        >
      </p>
      <p class="font-bold pt-8 pb-2">Disclaimer</p>
      <p>
        1. Content of the online offer<br />
        The author reserves the right not to be responsible for the topicality,
        correctness, completeness or quality of the information provided.
        Liability claims against the author, which refer to material or
        non-material damages, which have been caused by the use or non-use of
        the information provided or by the use of incorrect and incomplete
        information, are fundamentally excluded, provided that there is no
        demonstrable intentional or grossly negligent fault on the part of the
        author. All offers are subject to change and non-binding. The author
        expressly reserves the right to change, supplement or delete parts of
        the pages or the entire offer without separate announcement or to
        discontinue the publication temporarily or permanently.
        <br />
        <br />
        2. References and links<br />
        In the case of direct or indirect references to external Internet sites
        ("links"), which are outside the author's area of responsibility, a
        liability obligation would only come into force if the author is aware
        of the contents and it would be technically possible and reasonable for
        him to prevent the use of illegal contents. The author hereby expressly
        declares that at the time the link was set up, no illegal content was
        identifiable on the linked pages. The author has no influence on the
        current and future design, content or authorship of the linked pages.
        Therefore, he hereby expressly distances himself from all contents of
        all linked/connected pages that were changed after the link was set.
        This statement applies to all links and references set within the
        author's own Internet offer as well as to external entries in guest
        books, discussion forums and mailing lists set up by the author. For
        illegal, incorrect or incomplete contents and in particular for damages
        resulting from the use or non-use of such information, the provider of
        the page to which reference is made shall be solely liable, not the
        person who merely refers to the respective publication via links.
        <br />
        <br />
        3. Copyright and trademark law<br />
        The author endeavors to observe the copyrights of the graphics, sound
        documents, video sequences and texts used in all publications, to use
        graphics, sound documents, video sequences and texts created by himself
        or to use license-free graphics, sound documents, video sequences and
        texts. All brand names and trademarks mentioned within the Internet
        offer and, if applicable, protected by third parties are subject without
        restriction to the provisions of the respectively valid trademark law
        and the ownership rights of the respective registered owners. The mere
        mention of a trademark does not imply that it is not protected by the
        rights of third parties! The copyright for published objects created by
        the author himself remains solely with the author of the pages. Any
        duplication or use of objects such as diagrams, sounds or texts in other
        electronic or printed publications is not permitted without the author's
        agreement.
        <br />
        <br />
        4. Data protection<br />
        If the opportunity for the input of personal or business data (email
        addresses, name, addresses) is given, the input of these data takes
        place voluntarily. The use and payment of all services offered is - as
        far as technically possible and reasonable - also permitted without the
        provision of such data or by providing anonymous data or a pseudonym.
        The use of our site is possible without providing personal data. For the
        use of individual services on our site, different regulations may apply,
        which in this case will be explained separately below. Your personal
        data (e.g. name, address, e-mail, telephone number, etc.) will only be
        processed by us in accordance with the provisions of German data
        protection law. Data is personal if it can be clearly assigned to a
        specific natural person. The legal basis for data protection can be
        found in the German Federal Data Protection Act (BDSG) and the German
        Telemedia Act (TMG). We would like to point out that there are security
        gaps in Internet-based data transmission, making complete protection
        against access by third parties impossible.
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>
