.title::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -4px;
  width: 73px;
  height: 5px;
  background: #2e3192;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.hash:hover::before {
  position: absolute;
  content: "#";
  left: -34px;
  bottom: 35px;
  width: 34px;
  height: 8px;
  color: #2e3192;
  opacity: 0.7;
}

.icon {
  font-size: 18px;
  vertical-align: -3px;
}

.addeffect {
  transition: all 0.35s ease-in-out;
}

.zoom {
  transition: transform 0.2s;
  width: 256px;
  margin: 0 35px;
}

.zoom:hover {
  transform: scale(1.08);
}

.hoverimg {
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 16rem;
  padding: 8px;
  transform: translate(0, 15%);
  -ms-transform: translate(0, 15%);
  text-align: center;
}

.hoverimgcontainer:hover .hoverimg {
  opacity: 0.3;
}

.hoverimgcontainer:hover .middle {
  opacity: 1;
}
