<app-navigation-dark activeMenu="network"></app-navigation-dark>
<div class="max-w-screen-xl m-auto sm:px-16 xl:mt-16 lg:mt-8 sm:mt-4">
  <div class="px-8 mb-12" id="esngermany">
    <div class="m-auto mb-8 relative">
      <p class="font-heading text-esn-dark-blue font-bold text-4xl title">
        ESN Germany e.V.
      </p>
    </div>
    <div class="m-auto block">
      <p class="font-body text-lg">
        The Erasmus Student Network Germany, a non-profit student organisation,
        is the consolidation of the German local Erasmus student initiatives and
        their volunteers. Our voluntary members, mostly students, take care of
        approximately 10,600 exchange students every year in about 40 sections
        all over Germany. In Europe, ESN is represented in more than 1,000
        Higher Education Institutions from 42 countries. This makes our
        organisation one of the largest student initiatives in Europe.
      </p>
    </div>
  </div>
  <div class="mb-8 px-8">
    <img class="m-auto" src="../../../assets/network.jpg" />
    <p class="py-4 text-footer italic">
      National Assembly in Munich / January 2020.
    </p>
    <button
      type="button"
      class="bg-white hover:bg-bluelight text-black font-semibold py-2 px-4 border border-gray rounded-full shadow addeffect"
    >
      <a
        href="https://esn.org"
        target="_blank"
        rel="noopener"
        class="font-body text-lg p-2"
        >Learn more <mat-icon class="icon"> call_made</mat-icon></a
      >
    </button>
  </div>
  <div class="px-8 mt-24" id="nationalboard">
    <div class="m-auto mb-8 relative">
      <p class="font-heading text-esn-dark-blue font-bold text-4xl title">
        The National Board
      </p>
    </div>
    <div class="m-auto block">
      <p class="font-body text-lg">
        ESN Germany is formed by the National Board. Its purpose is to support
        the local sections in all kinds of topics, to be an intermediate between
        them and ESN International, and to strengthen the German network plus
        the relationships between the sections and their members. Each one of
        the board members of ESN Germany is a volunteer and was elected at our
        January National Assembly by our sections.
      </p>
      <p class="font-body text-black text-lg pt-4">
        We proudly present our National Board 2020/21:
      </p>
    </div>
  </div>
</div>
<div class="max-w-screen-2xl m-auto mb-16 mt-6">
  <div class="mb-8 font-body m-auto flex flex-wrap justify-evenly">
    <figure class="py-4 inline-block zoom" title="president@esn-germany.de">
      <img class="h-56" src="../../../assets/NB/Pedro.jpg" alt="Pedro" />
      <p class="pt-2 font-bold">President</p>
      <p>Pedro Gonzalez</p>
    </figure>
    <figure
      class="py-4 inline-block zoom"
      title="vice-president@esn-germany.de"
    >
      <img class="h-56" src="../../../assets/NB/Jona.jpg" alt="Jona" />
      <p class="pt-2 font-bold">Vice President</p>
      <p>Jona Winstroth</p>
    </figure>
    <figure class="py-4 inline-block zoom" title="finance@esn-germany.de">
      <img class="h-56" src="../../../assets/NB/Luis.jpg" alt="Luis" />
      <p class="pt-2 font-bold">Treasurer</p>
      <p>Luís Henriques</p>
    </figure>
    <figure class="py-4 inline-block zoom" title="pr@esn-germany.de">
      <img class="h-56" src="../../../assets/NB/Ines.jpg" alt="Ines" />
      <p class="pt-2 font-bold">PR Manager</p>
      <p>Inès Leimgruber</p>
    </figure>
    <div class="break"></div>
    <figure class="py-4 inline-block zoom" title="nr@esn-germany.de">
      <img class="h-56" src="../../../assets/NB/Jana.jpg" alt="Jana" />
      <p class="pt-2 font-bold">National Representative</p>
      <p>Jana Borchardt</p>
    </figure>
    <figure class="py-4 inline-block zoom" title="education@esn-germany.de">
      <img class="h-56" src="../../../assets/NB/Jeannine.jpg" alt="Jeannine" />
      <p class="pt-2 font-bold">Education Officer</p>
      <p>Jeannine Burkhard</p>
    </figure>
    <figure class="py-4 inline-block zoom" title="partnership@esn-germany.de">
      <img class="h-56" src="../../../assets/NB/Hannah.jpg" alt="Hannah" />
      <p class="pt-2 font-bold">Partnership Manager</p>
      <p>Hannah Potthoff</p>
    </figure>
    <figure class="py-4 inline-block zoom" title="events@esn-germany.de">
      <img class="h-56" src="../../../assets/NB/Milan.jpg" alt="Milan" />
      <p class="pt-2 font-bold">Event Manager</p>
      <p>Milan Grigull</p>
    </figure>
    <div class="break"></div>
    <figure class="py-4 inline-block zoom" title="webmaster@esn-germany.de">
      <img class="h-56" src="../../../assets/NB/Chris.jpg" alt="Chris" />
      <p class="pt-2 font-bold">Webmaster</p>
      <p>Christian Gmeiner</p>
    </figure>
    <figure class="py-4 inline-block zoom" title="vice-nr@esn-germany.de">
      <img class="h-56" src="../../../assets/NB/Tanyel.jpg" alt="Tanyel" />
      <p class="pt-2 font-bold">Vice NR</p>
      <p>Tanyel Arabaci</p>
    </figure>
  </div>
</div>
<div class="max-w-screen-xl m-auto px-16 mb-20">
  <div class="px-8" id="committees">
    <div class="m-auto mb-8 relative">
      <p class="font-heading text-esn-dark-blue font-bold text-4xl title">
        The National Committees
      </p>
    </div>
    <div class="m-auto block">
      <p class="font-body text-lg pb-4">
        The National Committees are formed by ESN volunteers that support the
        board in different dedicated fields. Each committee is linked to a board
        position.
      </p>
    </div>
  </div>
  <div class="px-2 m-auto">
    <mat-accordion multi class="font-body text-lg">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="font-bold"
            >Business & Finance Committee (BFC)</mat-panel-title
          >
        </mat-expansion-panel-header>
        <div class="content">
          <p>Amazing committee for all local treasurers.</p>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="font-bold">IT Team</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content">
          <p>Amazing committee for all local webmasters.</p>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="font-bold">Causes Committee</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content">
          <p>Amazing committee for everyone interested in the causes.</p>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="font-bold"
            >Communication Committee</mat-panel-title
          >
        </mat-expansion-panel-header>
        <div class="content">
          <p>Amazing committee for all local Social Media Managers.</p>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<!-- <div class="max-w-screen-xl font-body text-lg m-auto px-16 mb-20 border rounded shadow-xl border-graylight">
  <div class="px-8 flex items-center lg:flex-no-wrap flex-wrap">
    <div class="m-4 mx-8 w-full">
      <img src="../../../assets/causes/health.png" alt="BFC" class="m-auto h-24">
      <p class="text-center text-2xl text-black font-bold p-4">BFC</p>
    </div>
    <p class="m-6">
      ESN implements the field of social inclusion by widening the
      participation and social engagement. ESN believes in a more diverse
      Erasmus+ programme, which is why our members work hard to raise
      awareness about mobility opportunities for students from
      underrepresented groups.
    </p>
  </div>
  <mat-divider class="text-graylight"></mat-divider>
  <div class="px-8 flex items-center lg:flex-no-wrap flex-wrap">
    <p class="m-6">
      ESN implements the field of social inclusion by widening the
      participation and social engagement. ESN believes in a more diverse
      Erasmus+ programme, which is why our members work hard to raise
      awareness about mobility opportunities for students from
      underrepresented groups.
    </p>
    <div class="m-4 mx-8 w-full">
      <img src="../../../assets/causes/health.png" alt="BFC" class="m-auto h-24">
      <p class="text-center text-2xl text-black font-bold p-4">IT Team</p>
    </div>
  </div>
  <mat-divider class="text-graylight"></mat-divider>
  <div class="px-8 flex items-center lg:flex-no-wrap flex-wrap">
    <div class="m-4 mx-8 w-full">
      <img src="../../../assets/causes/health.png" alt="BFC" class="m-auto h-24">
      <p class="text-center text-2xl text-black font-bold p-4">Communication Committee</p>
    </div>
    <p class="m-6">
      ESN implements the field of social inclusion by widening the
      participation and social engagement. ESN believes in a more diverse
      Erasmus+ programme, which is why our members work hard to raise
      awareness about mobility opportunities for students from
      underrepresented groups.
    </p>
  </div>
  <mat-divider class="text-graylight"></mat-divider>
  <div class="px-8 flex items-center lg:flex-no-wrap flex-wrap">
    <p class="m-6">
      ESN implements the field of social inclusion by widening the
      participation and social engagement. ESN believes in a more diverse
      Erasmus+ programme, which is why our members work hard to raise
      awareness about mobility opportunities for students from
      underrepresented groups.
    </p>
    <div class="m-4 mx-8 w-full">
      <img src="../../../assets/causes/health.png" alt="BFC" class="m-auto h-24">
      <p class="text-center text-2xl text-black font-bold p-4">Causes Committee</p>
    </div>
  </div>
</div> -->
<div class="max-w-screen-xl px-16 m-auto mb-8">
  <div class="px-8 mb-12" id="auditboard">
    <div class="m-auto mb-8 relative">
      <p class="font-heading text-esn-dark-blue font-bold text-4xl title">
        The Audit Board
      </p>
    </div>
    <div class="m-auto block">
      <p class="font-body text-lg">
        The Audit Board is formed by the Main Chair, the Finance Audit and the
        Legal Audit. Their tasks are among other things to audit general
        processes, monitor the National Board’s work, watch over the adherence
        to our SOS, promote compliance and check the budget.
      </p>
      <p class="font-body text-black text-lg pt-4">
        We proudly present our Audit Board 2020/21:
      </p>
    </div>
  </div>
</div>
<div class="max-w-screen-xl m-auto mb-16 mt-6">
  <div class="px-8 mb-8 font-body m-auto flex flex-wrap justify-evenly">
    <figure class="p-4 inline-block zoom">
      <img class="h-56" src="../../../assets/patrickp.jpg" alt="Patrick" />
      <p class="pt-2 font-bold">Main Audit</p>
      <p>Patrick Peeck</p>
    </figure>
    <figure class="p-4 inline-block zoom">
      <img class="h-56" src="../../../assets/patrickp.jpg" alt="Julius" />
      <p class="pt-2 font-bold">Legal Audit</p>
      <p>Julius Netzer</p>
    </figure>
    <figure class="p-4 inline-block zoom">
      <img class="h-56" src="../../../assets/patrickp.jpg" alt="Ivo" />
      <p class="pt-2 font-bold">Vice Legal Audit</p>
      <p>Ivo Sieder</p>
    </figure>
    <figure class="p-4 inline-block zoom">
      <img class="h-56" src="../../../assets/patrickp.jpg" alt="Alina" />
      <p class="pt-2 font-bold">Financial Audit</p>
      <p>Alina Dallmann</p>
    </figure>
  </div>
</div>
<div class="max-w-screen-xl m-auto px-16 mb-20">
  <div class="px-8 mb-12" id="alumni">
    <div class="m-auto mb-8 relative">
      <p class="font-heading text-esn-dark-blue font-bold text-4xl title">
        The Alumni
      </p>
    </div>
    <div class="m-auto block">
      <p class="font-body text-lg pb-4">
        The ESN Alumni Deutschland e.V. is an association of both former and
        current ESN members. They have been - and still are - a big support for
        all active members by sharing their experiences and knowledge as well as
        offering financial support when needed. Since its foundation 2010 the
        alumni association has grown continuously and is now one of the most
        active within ESN.
      </p>
      <button
        type="button"
        class="bg-white hover:bg-bluelight text-black font-semibold py-2 px-4 border border-gray rounded-full shadow addeffect"
      >
        <a
          href="https://esn.org"
          target="_blank"
          rel="noopener"
          class="font-body text-lg p-2"
          >Learn more <mat-icon class="icon"> call_made</mat-icon></a
        >
      </button>
    </div>
  </div>
</div>
<div class="max-w-screen-xl m-auto px-16 mb-20">
  <div class="px-8 mb-12" id="esninternational">
    <div class="m-auto mb-8 relative">
      <p class="font-heading text-esn-dark-blue font-bold text-4xl title">
        ESN International
      </p>
    </div>
    <div class="m-auto block">
      <p class="font-body text-lg pb-4">
        Erasmus Student Network (ESN) is the biggest student association in
        Europe. It was born on the 16th October 1989 and legally registered in
        1990 for supporting and developing student exchange. We are present in
        more than 1000 Higher Education Institutions from 42 countries. The
        network is constantly developing and expanding. We have around 15,000
        active members that are in many sections supported by so-called buddies
        mainly taking care of international students. Thus, ESN involves around
        50,000 young people offering its services to around 350,000
        international students every year.
      </p>
      <button
        type="button"
        class="bg-white hover:bg-bluelight text-black font-semibold py-2 px-4 border border-gray rounded-full shadow addeffect"
      >
        <a
          href="https://esn.org"
          target="_blank"
          rel="noopener"
          class="font-body text-lg p-2"
          >Learn more <mat-icon class="icon"> call_made</mat-icon></a
        >
      </button>
    </div>
  </div>
</div>
<app-footer></app-footer>
