<app-navigation-dark></app-navigation-dark>
<div class="max-w-screen-xl m-auto sm:px-16 xl:mt-16 lg:mt-8 sm:mt-4">
  <div class="px-8 mb-12" id="esngermany">
    <div class="m-auto mb-8 relative">
      <p class="font-heading text-esn-dark-blue font-bold text-4xl title">
        ESN Germany e.V.
      </p>
    </div>
    <div class="m-auto block">
      <p class="font-body text-lg">
        The Erasmus Student Network Germany, a non-profit student organisation,
        is the consolidation of German student organisations which take care of
        Erasmus and international students during their exchange in Germany. Our
        voluntary members, mostly students, take care of approximately 10,600
        exchange students every year in around 40 sections all over Germany.
        Next to all the sections, ESN Germany consists of other important
        bodies, which we will present to you below.
      </p>
    </div>
  </div>
  <div class="mb-8 px-8">
    <img class="m-auto" src="/assets/ex-img3.jpg" />
    <p class="py-4 text-footer italic">
      National Assembly in Darmstadt / June 2022.
    </p>
  </div>
  <div class="px-8 mb-16">
    <div class="my-12">
      <div class="mb-8 relative">
        <p class="font-heading text-esn-dark-blue font-bold text-4xl title">
          Our Causes
        </p>
      </div>
      <div class="font-body text-lg border border-graylight shadow-xl p-8">
        <div
          class="flex items-center flex-col lg:flex-row border-gray border-b"
        >
          <div class="m-4 mx-8 w-full">
            <object
              data="/assets/causes/edu.svg"
              type="image/svg+xml"
              width="100%"
              alt="Education and Youth"
              class="m-auto h-24"
              title="Education and Youth"
            ></object>
            <p class="text-center text-2xl text-esn-blue font-bold p-4">
              Education & Youth
            </p>
          </div>
          <div class="m-6">
            <p>
              As a key volunteer student organisation in international higher
              education in Europe, our members provide information about
              mobility programmes and motivate students to study abroad. On top
              of that with projects like Erasmus in Schools ESN tries to promote
              opportunities and benefits of higher education and mobility to
              elementary and high school students with the help of Erasmus
              students and thus implement them in local society and work against
              prejudices.
            </p>
          </div>
        </div>
        <div
          class="flex items-center flex-col-reverse lg:flex-row border-gray border-b"
        >
          <div class="m-6">
            <p>
              ESN stands for active citizenship, which includes actively
              partaking in finding solutions for current problems. Environmental
              sustainability is one of the major struggles of today’s society
              and, when it comes to this field, our members try to raise
              awareness about the issue and lead by example. Connected with the
              SocialErasmus project ESN sections already cleaned up nearby
              nature.
            </p>
          </div>
          <div class="m-4 mx-8 w-full">
            <object
              data="/assets/causes/environ.svg"
              type="image/svg+xml"
              width="100%"
              alt="Environmental Sustainability"
              class="m-auto h-24"
              title="Environmental Sustainability"
            ></object>
            <p class="text-center text-2xl text-esn-green font-bold p-4">
              Environmental Sustainability
            </p>
          </div>
        </div>
        <div
          class="flex items-center flex-col lg:flex-row border-gray border-b"
        >
          <div class="m-4 mx-8 w-full">
            <object
              data="/assets/causes/health.svg"
              type="image/svg+xml"
              width="100%"
              alt="Health and Wellbeing"
              class="m-auto h-24"
              title="Health and Wellbeing"
            ></object>
            <p class="text-center text-2xl text-esn-dark-blue font-bold p-4">
              Health & Wellbeing
            </p>
          </div>
          <p class="m-6">
            Under this Cause ESN is making aware of healthy routines and
            practices, both physically and mentally. Keeping your body and your
            mind fit and healthy is a huge part of a fulfilled lifestyle and
            with projects like the Health and Well-being Week or the
            International Erasmus Games ESN keeps their volunteers and students
            active and educates them how to improve themselves.
          </p>
        </div>
        <div
          class="flex items-center flex-col-reverse lg:flex-row border-gray border-b"
        >
          <p class="m-6">
            According to the Erasmus Impact Study launched by the European
            Commission in 2012, 85% of students study or train abroad to enhance
            their employability and more than 90% of students reported an
            improvement in their transversal skills. With organising specific
            workshops and events ESN helps the students to find and improve the
            soft-skills of students und local youth. With their own internal
            programme Eduk8 members of the network can get trained in the field
            of non-formal education.
          </p>
          <div class="m-4 mx-8 w-full">
            <object
              data="/assets/causes/skills.svg"
              type="image/svg+xml"
              width="100%"
              alt="Skills and Employability"
              class="m-auto h-24"
              title="Skills and Employability"
            ></object>
            <p class="text-center text-2xl text-black font-bold p-4">
              Skills & Employability
            </p>
          </div>
        </div>
        <div
          class="flex items-center flex-col lg:flex-row border-gray border-b"
        >
          <div class="m-4 mx-8 w-full">
            <object
              data="/assets/causes/socialincl.svg"
              type="image/svg+xml"
              width="100%"
              alt="Social Inclusion"
              class="m-auto h-24"
              title="Social Inclusion"
            ></object>
            <p class="text-center text-2xl text-esn-pink font-bold p-4">
              Social Inclusion
            </p>
          </div>
          <p class="m-6">
            ESN implements the field of social inclusion by widening the
            participation and social engagement. ESN believes in a more diverse
            Erasmus+ programme, which is why our members work hard to raise
            awareness about mobility opportunities for students from
            underrepresented groups. Under the SocialErasmus project the
            sections of ESN are planning events around social activities in and
            outside the local community to help those who need support and to
            make them aware about integration and inclusion.
          </p>
        </div>
        <div class="flex items-center flex-col-reverse lg:flex-row">
          <p class="m-6">
            Culture; customs, values and social behavior of a particular group
            of people at a particular time. Experiencing the way of life in
            diverse and unknown cultures is a strong motivator for young people
            to move abroad in order to participate in mobility programmes.
          </p>
          <div class="m-4 mx-8 w-full">
            <object
              data="/assets/causes/culture.svg"
              type="image/svg+xml"
              width="100%"
              alt="Culture"
              class="m-auto h-24"
              title="Culture"
            ></object>
            <p class="text-center text-2xl text-esn-orange font-bold p-4">
              Culture
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="max-w-screen-xl m-auto sm:px-16 xl:mt-16 lg:mt-8 sm:mt-4">
    <div class="px-8 mt-24" id="nationalboard">
      <div class="m-auto mb-8 relative">
        <p class="font-heading text-esn-dark-blue font-bold text-4xl title">
          The National Board
        </p>
      </div>
      <div class="m-auto block">
        <p class="font-body text-lg">
          ESN Germany is represented by the National Board. Its purpose is to
          support the local sections in all kinds of topics, to represent them
          towards external partners as well as ESN International and to
          strengthen the German network and the relationships between the
          sections and their members. Each board member of ESN Germany is
          elected for a mandate of one year by the sections and works on a
          volunteer basis. The mandate starts on the 1st of July and the
          elections are usually held in May, which gives a time frame of more
          than a month where predecessor and successor can work closely together
          to hand over all important tasks and transfer the knowledge.
          <br />The National Board consists of eight members, who are supported
          by various support positions, working together to achieve the goals of
          the network in a joint effort.
        </p>
        <p class="font-body text-black text-lg pt-4">
          The current board members are:
        </p>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="NBItemList$ | async as NBItemList; else loading">
  <div class="max-w-screen-2xl m-auto mb-16 mt-6">
    <div
      class="mb-8 font-body m-auto flex flex-wrap items-start justify-evenly"
    >
      <div *ngFor="let nb of NBItemList">
        <figure
          class="py-4 px-6 inline-block relative hoverimgcontainer bg-white"
        >
          <ng-container *ngIf="nb.Portrait[0]; else portraitnb">
            <img
              class="h-56 hoverimg"
              src="https://strapi.esn-germany.de{{
                nb.Portrait[0].formats.portrait.url
              }}"
              alt="{{ nb.Portrait[0].alternativeText }}"
            />
          </ng-container>
          <ng-template #portraitnb>
            <img
              class="h-56 hoverimg"
              src="/assets/portrait.png"
              alt="no image for this person"
            />
          </ng-template>
          <figcaption class="text-left bg-white">
            <p class="pt-2 text-lg font-bold">{{ nb.position }}</p>
            <p class="text-lg">{{ nb.name }}</p>
          </figcaption>
          <div class="middle text-black">
            <p class="text-md">
              {{ nb.position_description }}
              <br />
            </p>
            <p class="text-md pt-2 font-bold">
              <a
                href="mailto:{{ nb.email }}"
                target="_blank"
                rel="noopener"
                class="cursor-pointer hover:underline"
                >{{ nb.email }}</a
              >
            </p>
          </div>
        </figure>
      </div>
    </div>
  </div>
</ng-container>
<div class="bg-whitebg w-full pt-8 pb-4 my-8">
  <div class="max-w-screen-xl m-auto px-16 mb-12">
    <div class="px-8">
      <div class="m-auto mb-8 relative">
        <p class="font-heading text-esn-dark-blue font-bold text-4xl title">
          The Board Supporters
        </p>
      </div>
    </div>
  </div>
  <ng-container *ngIf="BSItemList$ | async as BSItemList; else loading">
    <div class="max-w-screen-2xl m-auto mb-16 mt-6">
      <div
        class="mb-8 font-body m-auto flex flex-wrap items-start justify-evenly"
      >
        <div *ngFor="let bs of BSItemList">
          <figure
            class="py-4 px-6 inline-block relative hoverimgcontainer bg-whitebg"
          >
            <ng-container *ngIf="bs.Portrait[0]; else portraitbs">
              <img
                class="h-56 hoverimg"
                src="https://strapi.esn-germany.de{{
                  bs.Portrait[0].formats.portrait.url
                }}"
                alt="{{ bs.Portrait[0].alternativeText }}"
              />
            </ng-container>
            <ng-template #portraitbs>
              <img
                class="h-56 hoverimg"
                src="/assets/portrait.png"
                alt="no image for this person"
              />
            </ng-template>
            <figcaption class="text-left bg-whitebg">
              <p class="pt-2 text-lg font-bold">{{ bs.position }}</p>
              <p class="text-lg">{{ bs.name }}</p>
            </figcaption>
            <div class="middle text-black">
              <p class="text-md">
                {{ bs.position_description }}
                <br />
              </p>
              <p class="text-md pt-2 font-bold">
                <a
                  href="mailto:{{ bs.email }}"
                  target="_blank"
                  rel="noopener"
                  class="cursor-pointer hover:underline"
                  >{{ bs.email }}</a
                >
              </p>
            </div>
          </figure>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<ng-template #loading>
  <img width="200px" class="m-auto" src="assets/ESN-star-spinner.gif" />
</ng-template>
<div class="w-full pt-8 pb-4 my-8">
  <div class="max-w-screen-xl m-auto px-16 mb-12">
    <div class="px-8" id="committees">
      <div class="m-auto mb-8 relative">
        <p class="font-heading text-esn-dark-blue font-bold text-4xl title">
          The National Teams
        </p>
      </div>
      <div class="m-auto block">
        <p class="font-body text-lg pb-4">
          The National Teams are formed by ESN volunteers that support the board
          in different dedicated fields. Each team is linked to a board
          position. Learn more about them here.
        </p>
      </div>
      <div
        class="font-body flex flex-wrap justify-evenly items-start"
        *ngIf="teamsList$ | async as teamsList"
      >
        <figure
          class="m-2 inline-block relative hoverimgcontainer"
          *ngFor="let team of teamsList"
        >
          <img
            class="h-56 hoverimg"
            src="https://strapi.esn-germany.de{{
              team.Image.formats.portrait.url
            }}"
            alt=""
          />
          <figcaption class="text-center font-bold text-xl">
            {{ team.Teamname }}
          </figcaption>
          <div class="middlecom text-black">
            <p>
              {{ team.Description }}
            </p>
          </div>
        </figure>
      </div>
    </div>
  </div>
</div>
<!--  RC -->
<div class="bg-whitebg w-full pt-2 pb-4 mb-8 mt-4">
  <div class="max-w-screen-xl m-auto sm:px-16 xl:mt-16 lg:mt-8 sm:mt-4">
    <div class="px-8 mt-24" id="nationalboard">
      <div class="m-auto mb-8 relative">
        <p class="font-heading text-esn-dark-blue font-bold text-4xl title">
          The Regional Coordinators
        </p>
      </div>
      <div class="m-auto block">
        <p class="font-body text-lg">
          Regional Coordinators are elected during Local Platforms for a mandate
          of one year, by the sections, and work on a voluntary basis. Their
          tasks include, among other things, overlooking the current status of
          the region and its sections, being a contact point for the Vice
          President and the sections and are responsible for the organization,
          promotion and coordination of regional events.
        </p>
        <p class="font-body text-black text-lg pt-4">
          The current Regional Coordinators are:
        </p>
      </div>
    </div>
  </div>
  <div
    class="bg-whitebg max-w-screen-2xl m-auto mb-16 mt-1"
    *ngIf="RCItemList$ | async as RCItemList"
  >
    <div
      class="mb-8 font-body m-auto flex flex-wrap items-start justify-evenly"
    >
      <div *ngFor="let rc of RCItemList">
        <figure
          class="py-4 px-6 inline-block relative hoverimgcontainer bg-whitebg"
        >
          <ng-container *ngIf="rc.Portrait[0]; else portraitrc">
            <img
              class="h-56 hoverimg"
              src="https://strapi.esn-germany.de{{
                rc.Portrait[0].formats.portrait.url
              }}"
              alt="{{ rc.Portrait[0].alternativeText }}"
            />
          </ng-container>
          <ng-template #portraitrc>
            <img
              class="h-56 hoverimg"
              src="/assets/portrait.png"
              alt="no image for this person"
            />
          </ng-template>
          <figcaption class="text-left bg-whitebg">
            <p class="pt-2 text-lg font-bold">{{ rc.position }}</p>
            <p class="text-lg">{{ rc.name }}</p>
          </figcaption>
          <div class="middle text-black">
            <p class="text-md">
              {{ rc.position_description }}
              <br />
            </p>
            <p class="text-md pt-2 font-bold">
              <a
                href="mailto:{{ rc.email }}"
                target="_blank"
                rel="noopener"
                class="cursor-pointer hover:underline"
                >{{ rc.email }}</a
              >
            </p>
          </div>
        </figure>
      </div>
    </div>
  </div>
</div>
<!--  RC end -->
<div class="max-w-screen-xl px-16 m-auto mb-8">
  <div class="px-8 mb-12" id="auditboard">
    <div class="m-auto mb-8 relative">
      <p class="font-heading text-esn-dark-blue font-bold text-4xl title">
        The Audit Board
      </p>
    </div>
    <div class="m-auto block">
      <p class="font-body text-lg">
        The Audit Board is formed by the Main Chair, the Finance Audit and the
        Legal Audit and is elected for a mandate of one year (starting on 1st
        September) by the sections and works on a voluntary basis. Its main
        tasks are, among other things, to audit general processes, monitor the
        National Board’s work, watch over the adherence to our Statutes and
        Standing Orders, promote compliance and check the budget. The Audit
        board consists of 3 to 5 people (one Main Chair, 1-2 Legal Auditors and
        1-2 Financial Auditors).
      </p>
      <p class="font-body text-black text-lg pt-4">The current auditors are:</p>
    </div>
  </div>
</div>
<div
  class="max-w-screen-2xl px-16 m-auto mb-8"
  *ngIf="ABItemList$ | async as ABItemList"
>
  <div class="px-8 mb-8 font-body m-auto flex flex-wrap justify-evenly">
    <div *ngFor="let ab of ABItemList">
      <figure
        class="py-4 px-6 inline-block relative hoverimgcontainer bg-white"
      >
        <ng-container *ngIf="ab.Portrait[0]; else portraitab">
          <img
            class="h-56 hoverimg"
            src="https://strapi.esn-germany.de{{
              ab.Portrait[0].formats.portrait.url
            }}"
            alt="{{ ab.Portrait[0].alternativeText }}"
          />
        </ng-container>
        <ng-template #portraitab>
          <img
            class="h-56 hoverimg"
            src="/assets/portrait.png"
            alt="no image for this person"
          />
        </ng-template>
        <figcaption class="text-left bg-white">
          <p class="pt-2 text-lg font-bold">{{ ab.position }}</p>
          <p class="text-lg">{{ ab.name }}</p>
        </figcaption>
        <div class="middle text-black">
          <p class="text-md">
            {{ ab.position_description }}
            <br />
          </p>
          <p class="text-md pt-2 font-bold">
            <a
              href="mailto:{{ ab.email }}"
              target="_blank"
              rel="noopener"
              class="cursor-pointer hover:underline"
              >{{ ab.email }}</a
            >
          </p>
        </div>
      </figure>
    </div>
  </div>
</div>
<!-- <div *ngFor="let ab of ABItemList">
      <figure class="p-4 inline-block zoom" title="{{ ab.email }}">
        <img
          class="h-56"
          src="https://strapi.esn-germany.de{{
            ab.Portrait[0].formats.portrait.url
          }}"
          alt="{{ ab.Portrait[0].formats.portrait.url }}"
        />
        <p class="pt-2 font-bold">{{ ab.position }}</p>
        <p>{{ ab.name }}</p>
      </figure>
    </div>
  </div>
</div> -->
<div class="bg-whitebg w-full pt-8 pb-4 my-8">
  <div class="max-w-screen-xl m-auto px-16 mb-12">
    <div class="px-8" id="alumni">
      <div class="m-auto mb-8 relative">
        <p class="font-heading text-esn-dark-blue font-bold text-4xl title">
          The Alumni
        </p>
      </div>
      <div class="m-auto block">
        <p class="font-body text-lg pb-4">
          The ESN Alumni Deutschland e.V. is an association of both former and
          current ESN members. They have been - and still are - a big support
          for all active members by sharing their experiences and knowledge as
          well as offering financial support when needed. Since its foundation
          2010 the alumni association has grown continuously and is now one of
          the most active within ESN.
        </p>
        <button
          type="button"
          class="bg-white hover:bg-graylight text-black font-semibold py-2 px-4 border border-gray rounded-full shadow addeffect"
        >
          <a
            href="https://alumni.esn-germany.de"
            target="_blank"
            rel="noopener"
            class="font-body text-lg p-2"
            >Learn more
            <img
              src="assets/fonts/MaterialIcons/call_made.png"
              width="24px"
              class="inline"
          /></a>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="max-w-screen-xl m-auto px-16 mb-20">
  <div class="px-8 mb-12" id="esninternational">
    <div class="m-auto mb-8 relative">
      <p class="font-heading text-esn-dark-blue font-bold text-4xl title">
        ESN International
      </p>
    </div>
    <div class="m-auto block">
      <p class="font-body text-lg pb-4">
        The Erasmus Student Network is one of the largest student associations
        in Europe, being present in more than 1000 Higher Education Institutions
        from 42 countries and functions as an umbrella organisation for many
        local and national organisations across the continent. The Headquarters
        are based in Brussels close to the European Parliament and other
        important partners and stakeholders of the organisation. Led by the
        International Board, ESN International has a high impact on mobility
        programmes in the European Higher Education area, most notably the
        Erasmus+ programme. ESN collaborates with very important stakeholders
        and policymakers in this area, such as the European Commission, the
        European University Foundation (EUF) and the European Student’s Union
        (ESU).
        <br />
        ESN works for the creation of a more mobile and flexible education
        environment by supporting and developing the student exchange from
        different levels and providing an intercultural experience also to those
        students who cannot access a period abroad ("internationalisation at
        home").
      </p>
      <button
        type="button"
        class="bg-white hover:bg-graylight text-black font-semibold py-2 px-4 border border-gray rounded-full shadow addeffect"
      >
        <a
          href="https://esn.org"
          target="_blank"
          rel="noopener"
          class="font-body text-lg p-2"
          >Learn more
          <img
            src="assets/fonts/MaterialIcons/call_made.png"
            width="24px"
            class="inline"
        /></a>
      </button>
    </div>
  </div>
</div>
<app-footer></app-footer>
