<app-navigation-dark></app-navigation-dark>
<div class="max-w-screen-xl m-auto sm:px-16 pt-8 xl:mt-24 lg:mt-22 sm:mt-16">
  <div class="px-8 mb-12">
    <div class="m-auto mb-8 relative">
      <p class="font-heading text-esn-dark-blue font-bold text-3xl title">
        ESN Germany
      </p>
    </div>
    <div class="m-auto block">
      <p class="font-body text-lg">
        The Erasmus Student Network Germany, a non-profit student organisation,
        is the consolidation of the German local Erasmus student initiatives and
        their volunteers. Our voluntary members, mostly students, take care of
        approximately 10.600 exchange students every year in about 40 sections
        all over Germany. In Europe, ESN is represented in more than 1000 Higher
        Education Institutions from 42 countries. This makes our organisation
        one of the largest student initiatives in Europe.
      </p>
    </div>
  </div>
  <div class="mb-8">
    <img src="../../../assets/network.jpg" />
    <p class="pt-4 text-footer italic">
      National Asssembly in Munich / January 2020.
    </p>
  </div>
  <div class="px-8 mt-12">
    <div class="m-auto mb-8 relative">
      <p class="font-heading text-esn-dark-blue font-bold text-3xl title">
        The National Board
      </p>
    </div>
    <div class="m-auto block">
      <p class="font-body text-lg">
        ESN Germany is formed by the National Board. Its purpose is to support
        the local sections in all kinds of topics, to be an intermediate between
        them and ESN International, and to strengthen the German network plus
        the relationships between the sections and their members. Each one of
        the board members of ESN Germany is a volunteer and was elected at our
        January National Assembly by our sections.
      </p>
    </div>
  </div>
</div>
<div class="max-w-screen-2xl m-auto my-16">
  <div class="mb-8 font-body m-auto flex flex-wrap justify-evenly">
    <figure class="p-4 inline-block">
      <img class="h-56" src="../../../assets/NB/Pedro.jpg" alt="Pedro" />
      <p class="pt-2 font-bold">President</p>
      <p>Pedro Gonzalez</p>
    </figure>
    <figure class="p-4 inline-block">
      <img
        class="h-56 inline-block"
        src="../../../assets/NB/Jona.jpg"
        alt="Jona"
      />
      <p class="pt-2 font-bold">Vice President</p>
      <p>Jona Winstroth</p>
    </figure>
    <figure class="p-4 inline-block">
      <img class="h-56" src="../../../assets/NB/Luis.jpg" alt="Luis" />
      <p class="pt-2 font-bold">Treasurer</p>
      <p>Luís Henriques</p>
    </figure>
    <figure class="p-4 inline-block">
      <img class="h-56" src="../../../assets/NB/Ines.jpg" alt="Ines" />
      <p class="pt-2 font-bold">PR Manager</p>
      <p>Inès Leimgruber</p>
    </figure>
    <figure class="p-4 inline-block">
      <img class="h-56" src="../../../assets/NB/Jana.jpg" alt="Jana" />
      <p class="pt-2 font-bold">National Representative</p>
      <p>Jana Borchardt</p>
    </figure>
    <figure class="p-4 inline-block">
      <img class="h-56" src="../../../assets/NB/Hannah.jpg" alt="Hannah" />
      <p class="pt-2 font-bold">Partnership Manager</p>
      <p>Hannah Potthoff</p>
    </figure>
    <figure class="p-4 inline-block">
      <img class="h-56" src="../../../assets/NB/Jeannine.jpg" alt="Jeannine" />
      <p class="pt-2 font-bold">Education Officer</p>
      <p>Jeannine Burkhard</p>
    </figure>
    <figure class="p-4 inline-block">
      <img class="h-56" src="../../../assets/NB/Milan.jpg" alt="Milan" />
      <p class="pt-2 font-bold">Event Manager</p>
      <p>Milan Grigull</p>
    </figure>
    <figure class="p-4 inline-block">
      <img class="h-56" src="../../../assets/NB/Chris.jpg" alt="Chris" />
      <p class="pt-2 font-bold">Webmaster</p>
      <p>Christian Gmeiner</p>
    </figure>
    <figure class="p-4 inline-block">
      <img class="h-56" src="../../../assets/NB/Tanyel.jpg" alt="Tanyel" />
      <p class="pt-2 font-bold">Vice NR</p>
      <p>Tanyel Arabaci</p>
    </figure>
  </div>
</div>
<app-footer></app-footer>
