<ng-container *ngFor="let i of [0, 1, 2]">
  <div
    *ngIf="i == index"
    [@fadeInOut]
    [ngClass]="'overlay background div' + i"
  ></div>
</ng-container>
<div *ngIf="loading" class="background div0"></div>
<div class="bg-cover bg-center">
  <app-navigation></app-navigation>
  <div class="m-auto pt-16 pb-16 w-128 mt-8 mb-8">
    <p class="text-body text-center text-white m-auto italic text-4xl">
      Erasmus in Germany?<br />Do it.
    </p>
  </div>
  <!-- <div class="">
    <img src=" ../../../assets/main-line.png" alt="line" class="m-auto w-104">
  </div> -->
</div>
<div
  class="block w-full bg-footer text-white m-auto shadow-strong mt-28 lg:mt-22 xl:mt-22"
>
  <div
    class="flex flex-wrap items-center justify-evenly max-w-screen-lg m-auto sm:px-16 xl:px-20 py-8 px-12 font-body"
  >
    <div class="inline-block">
      <p class="text-4xl lg:text-5xl xl:text-6xl text-center font-bold">
        1 200
      </p>
      <p class="text-lg text-center font-bold">Volunteers</p>
    </div>
    <div class="inline-block">
      <p class="text-2xl font-bold text-center">for</p>
    </div>
    <div class="inline-block">
      <p class="text-4xl lg:text-5xl xl:text-6xl text-center font-bold">
        10 600
      </p>
      <p class="text-lg text-center font-bold">Exchange Students</p>
    </div>
    <div class="inline-block">
      <p class="text-2xl font-bold text-center">in</p>
    </div>
    <div class="inline-block">
      <p class="text-4xl lg:text-5xl xl:text-6xl text-center font-bold">40</p>
      <p class="text-lg text-center font-bold">Sections</p>
    </div>
  </div>
</div>
<div class="max-w-screen-xl m-auto sm:px-16 pt-8 xl:mt-28 lg:mt-22 sm:mt-16">
  <div class="px-8 mb-16">
    <div class="m-auto mb-8 relative">
      <p class="font-heading text-esn-dark-blue font-bold text-3xl title">
        What is ESN?
      </p>
    </div>
    <div class="m-auto block">
      <p class="font-body text-lg">
        Erasmus Student Network (ESN) is a non-profit international student
        organisation. Our mission is to represent international students, thus
        provide opportunities for cultural understanding and self-development
        under the principle of Students Helping Students. In Europe there are
        local ESN sections at more than 500 higher education facilities in more
        than 40 countries. This makes us one of the largest student initiatives
        in Europe. In Europe there are local ESN sections at more than 500
        higher education facilities in more than 40 countries. This makes us one
        of the largest student initiatives in Europe.
      </p>
    </div>
  </div>
</div>
<div class="flex flex-wrap items-center justify-evenly m-auto w-5/6">
  <img
    src="../../../assets/ex-img3.jpg"
    alt=""
    class="h-48 xl:h-64 lg:h-48 m-4"
  />
  <img
    src="../../../assets/ex-img1.jpg"
    alt=""
    class="h-48 xl:h-64 lg:h-48 m-4"
  />
  <img
    src="../../../assets/ex-img1.jpg"
    alt=""
    class="h-48 xl:h-64 lg:h-48 m-4"
  />
  <img
    src="../../../assets/ex-img3.jpg"
    alt=""
    class="h-48 xl:h-64 lg:h-48 m-4"
  />
  <img
    src="../../../assets/ex-img2.jpg"
    alt=""
    class="h-48 xl:h-64 lg:h-48 m-4"
  />
  <img
    src="../../../assets/ex-img3.jpg"
    alt=""
    class="h-48 xl:h-64 lg:h-48 m-4"
  />
  <img
    src="../../../assets/ex-img1.jpg"
    alt=""
    class="h-48 xl:h-64 lg:h-48 m-4"
  />
</div>
<div class="max-w-screen-xl m-auto sm:px-16 pt-8">
  <div class="px-8 mb-16">
    <div class="my-8">
      <div class="mb-8 relative">
        <p class="font-heading text-esn-dark-blue font-bold text-3xl title">
          Join us!
        </p>
      </div>
      <div class="m-auto block">
        <p class="font-body text-lg">
          We are not a drinking organisation. We are not a drinking
          organisation. We are not a drinking organisation. We are not a
          drinking organisation. We are not a drinking organisation. We are not
          a drinking organisation. We are not a drinking organisation. We are
          not a drinking organisation. We are not a drinking organisation. We
          are not a drinking organisation. We are not a drinking organisation.
        </p>
      </div>
    </div>
    <div class="m-auto mb-8 relative">
      <p class="font-heading text-esn-dark-blue font-bold text-3xl title">
        Supported by
      </p>
    </div>
    <div class="flex flex-wrap items-center justify-between pt-4">
      <img src="../../../assets/eu.png" alt="EU" class="h-8 m-4 ml-0" />
      <img src="../../../assets/daad.png" alt="DAAD" class="h-8 m-4 mr-0" />
    </div>
  </div>
</div>
<app-footer></app-footer>
