<ng-container *ngFor="let i of [0, 1, 2, 3]">
  <div *ngIf="i == index" [@fadeInOut] [ngClass]="'background div' + i"></div>
</ng-container>
<app-navigation></app-navigation>
<div class="m-auto py-16 w-128 mb-8 extra">
  <span class="bg-white font-heading text-center text-black font-bold text-4xl">
    Erasmus in Germany?<br />Amazing idea.
  </span>
</div>
<div class="max-w-screen-xl m-auto sm:px-16 pt-8 xl:mt-28 lg:mt-22 sm:mt-16">
  <div class="px-8 mt-24 mb-16">
    <div class="m-auto my-8 relative">
      <p class="font-heading text-esn-dark-blue font-bold text-4xl title">
        We are ESN Germany.
      </p>
    </div>
    <div class="m-auto block">
      <p class="font-body text-xl">
        Erasmus Student Network (ESN) is a non-profit international student
        organisation. Our mission is to represent international students, thus
        provide opportunities for cultural understanding and self-development
        under the principle of Students Helping Students. In Europe there are
        local ESN sections at more than 500 higher education facilities in more
        than 40 countries. This makes us one of the largest student initiatives
        in Europe. In Europe there are local ESN sections at more than 500
        higher education facilities in more than 40 countries. This makes us one
        of the largest student initiatives in Europe.
      </p>
    </div>
  </div>
</div>
<mat-grid-list cols="4" rowHeight="280px">
  <mat-grid-tile [colspan]="3" [rowspan]="1">
    <img src="../../../assets/big-img1.jpg" />
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="2">
    <img src="../../../assets/big-img4.jpg" class="h-full" />
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <img src="../../../assets/big-img2.jpg" />
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <img src="../../../assets/big-img3.jpg" />
  </mat-grid-tile>
</mat-grid-list>
<div class="block w-full bg-esn-blue text-white m-auto relative">
  <div
    class="flex flex-wrap items-center justify-evenly max-w-screen-lg m-auto sm:px-16 xl:px-20 py-8 px-12 font-body"
  >
    <div class="inline-block">
      <p class="text-6xl lg:text-5xl xl:text-6xl text-center font-bold">
        1 200
      </p>
      <p class="text-lg text-center font-bold">Volunteers</p>
    </div>
    <div class="inline-block">
      <p class="text-2xl font-bold text-center px-3">for</p>
    </div>
    <div class="inline-block">
      <p class="text-6xl lg:text-5xl xl:text-6xl text-center font-bold">
        10 600
      </p>
      <p class="text-lg text-center font-bold">Exchange Students</p>
    </div>
    <div class="inline-block">
      <p class="text-2xl font-bold text-center px-3">in</p>
    </div>
    <div class="inline-block">
      <p class="text-6xl lg:text-5xl xl:text-6xl text-center font-bold">40</p>
      <p class="text-lg text-center font-bold">Sections</p>
    </div>
  </div>
</div>
<div class="max-w-screen-xl m-auto sm:px-16 pt-8 xl:mt-28 lg:mt-22 sm:mt-16">
  <div class="px-8 mb-16">
    <div class="m-auto mb-8 relative">
      <p class="font-heading text-esn-dark-blue font-bold text-4xl title">
        Join us!
      </p>
    </div>
    <div class="m-auto block">
      <p class="font-body text-lg">
        <mat-icon class="icon text-4xl text-gray">format_quote</mat-icon>Through
        ESN, I could gain soft skills and made friends in the whole of Europe!
      </p>
    </div>
  </div>
</div>
<!-- <div class="max-w-screen-xl m-auto sm:px-16 pt-8">
  <div class="px-8">
    <div class="font-body text-xl">
      <div class="relative">
        <p class="font-heading text-esn-dark-blue font-bold text-4xl title">
          Find out more!
        </p>
      </div>
    </div>
  </div>
</div> -->
<!-- <div class="max-w-screen-2xl m-auto sm:px-16 pt-8">
  <div class="relative w-full">
    <div class="absolute t24 right-0">
      <svg width="950px" height="670px" viewbox="0 0 950 670">
        <defs>
          <clipPath id="clip">
            <polygon points="950 0, 950 670, 0 470, 0 200" />
          </clipPath>
        </defs>
        <image
          xlink:href="https://i.picsum.photos/id/301/2500/1667.jpg?hmac=shA39wIqh0fWc1ZN4t6uDTXpdYcdwzpYM1yqgSonk0Q"
          x="0" y="0" clip-path="url(#clip)" />
      </svg>
    </div>
  </div>
  <div class="mb-48">
    <svg width="950px" height="670px" viewbox="0 0 950 670">
      <defs>
        <clipPath id="clip2">
          <polygon points="0 0, 950 200, 950 470, 0 670" />
        </clipPath>
      </defs>
      <image xlink:href="https://i.picsum.photos/id/371/1000/1000.jpg?hmac=CCTRQVKocjSPcu5LhXZg6-8lVN1XUFpjkXKolCZYu4I"
        x="0" y="0" clip-path="url(#clip2)" />
    </svg>
  </div>
</div> -->
<!-- <div class="max-w-screen-2xl m-auto sm:px-16 pt-8">
  <div class="px-8 mb-16">
    <div class="mb-12 font-body text-3xl">
      <div class="flex items-center lg:flex-no-wrap flex-wrap">
        <div class="m-4">
          <img src="../../../assets/ex-img2.jpg" alt="Education and Youth" class="m-auto h-96" />
        </div>
        <p>
          Learn more about Our Network <mat-icon class="icon">arrow_right_alt</mat-icon>
        </p>
      </div>
      <div class="flex items-center lg:flex-no-wrap flex-wrap-reverse">
        <p>
          Learn more about being an Incoming or Outgoing <mat-icon class="icon">arrow_right_alt</mat-icon>
        </p>
        <div class="m-4">
          <img src="../../../assets/ex-img1.jpg" alt="Environmental Sustainability" class="m-auto h-96" />
        </div>
      </div>
      <div class="flex items-center lg:flex-no-wrap flex-wrap">
        <div class="m-4">
          <img src="../../../assets/ex-img3.jpg" alt="Health and Wellbeing" class="m-auto h-96" />
        </div>
        <p>
          Learn more if you are a (potential) partner <mat-icon class="icon">arrow_right_alt</mat-icon>
        </p>
      </div>
      <div class="flex items-center lg:flex-no-wrap flex-wrap-reverse">
        <p>
          Learn more about our News <mat-icon class="icon">arrow_right_alt</mat-icon>
        </p>
        <div class="m-4">
          <img src="../../../assets/ex-img1.jpg" alt="Skills and Employability" class="m-auto h-96" />
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="max-w-screen-xl m-auto sm:px-16 pt-8">
  <div class="px-8 mb-32">
    <div class="m-auto mb-8 relative">
      <p class="font-heading text-esn-dark-blue font-bold text-4xl title">
        Supported by
      </p>
    </div>
    <div class="flex flex-wrap items-center justify-between pt-4">
      <img src="../../../assets/eu.png" alt="EU" class="h-12 m-4 ml-0" />
      <img src="../../../assets/daad.png" alt="DAAD" class="h-10 m-4 mr-0" />
    </div>
  </div>
</div>
<app-footer></app-footer>
