.background {
  position: absolute;
  width: 100%;
  height: 490px;
  z-index: -1;
  background-position: center;
  background-size: cover;
}
.div1 {
  background-image: url("../../../assets/landing1.png");
}
.div0 {
  background-image: url("../../../assets/landing2.png");
}

.title::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -4px;
  width: 48px;
  height: 4px;
  background: #2e3192;
}
