.background {
  position: absolute;
  width: 100%;
  height: 590px;
  z-index: -1;
  background-position: center;
  background-size: cover;
}
.extra {
  width: 420px;
}
.div0 {
  background-image: url("/assets/landing/landing2.png");
}
.div1 {
  background-image: url("/assets/landing/landing1.png");
}
.div2 {
  background-image: url("/assets/landing/landing3.png");
}
.icon {
  padding-right: 1rem;
}
