.background {
  position: absolute;
  width: 100%;
  height: 490px;
  z-index: -1;
  background-position: center;
  background-size: cover;
}
.extra {
  width: 420px;
}
.div0 {
  background-image: url("../../../assets/landing2.png");
}
.div1 {
  background-image: url("../../../assets/landing1.png");
}
.div2 {
  background-image: url("../../../assets/landing3.png");
}

.title::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -4px;
  width: 78px;
  height: 5px;
  background: #2e3192;
}
.icon {
  font-size: 1.25rem;
  vertical-align: middle;
}
