<app-navigation-dark activeMenu="students"></app-navigation-dark>
<div class="max-w-screen-xl m-auto sm:px-16 xl:mt-16 lg:mt-8 sm:mt-4">
  <div class="px-8 mb-8">
    <div class="m-auto mb-8 relative">
      <p class="font-heading text-esn-dark-blue font-bold text-4xl title">
        Find ESN in your city!
      </p>
    </div>
    <p class="font-body text-lg pb-4">
      ESN Germany relies on the action of its 40 local associations or so called
      “sections”, operating at the campus, university or city level, that
      directly work with the incoming students. Our local associations welcome,
      support and enrich the stay of international students through various
      actions (social, cultural, sport activities, welcome days, on-arrival
      support, Café Lingua, SocialErasmus, Erasmus In Schools, parties, etc.) to
      improve their social and practical integration.
    </p>
  </div>
</div>
<div class="max-w-screen-xl m-auto flex flex-wrap justify-evenly">
  <app-sectionmap></app-sectionmap>
  <div class="font-body">
    <p class="font-bold text-2xl">Sections ordered by region</p>
<!--    TODO: Implement without using material  -->
    <!--<mat-accordion>
      <div class="m-4">
        <mat-expansion-panel class="border border-esn-blue rounded-lg">
          <mat-expansion-panel-header>
            <mat-panel-title class="font-bold text-xl">North</mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngFor="let section of northSectionItemList" class="cont">
            <div class="flex justify-between pt-1">
              <p>{{ section.Name }}</p>
              <span class="text-footer"
                ><a
                  href="mailto:{{ section.email }}"
                  target="_blank"
                  rel="noopener"
                >
                  <mat-icon class="icon">email</mat-icon> </a
                ><a
                  href="https://{{ section.website }}"
                  target="_blank"
                  rel="noopener"
                >
                  <mat-icon class="icon">launch</mat-icon>
                </a>
              </span>
            </div>
          </div>
        </mat-expansion-panel>
      </div>
      <div class="m-4">
        <mat-expansion-panel class="border border-esn-orange rounded-lg">
          <mat-expansion-panel-header>
            <mat-panel-title class="font-bold text-xl">East</mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngFor="let section of eastSectionItemList" class="cont">
            <div class="flex justify-between pt-1">
              <p>{{ section.Name }}</p>
              <span class="text-footer"
                ><a
                  href="mailto:{{ section.email }}"
                  target="_blank"
                  rel="noopener"
                >
                  <mat-icon class="icon">email</mat-icon> </a
                ><a
                  href="https://{{ section.website }}"
                  target="_blank"
                  rel="noopener"
                >
                  <mat-icon class="icon">launch</mat-icon>
                </a>
              </span>
            </div>
          </div>
        </mat-expansion-panel>
      </div>
      <div class="m-4">
        <mat-expansion-panel class="border border-esn-pink rounded-lg">
          <mat-expansion-panel-header>
            <mat-panel-title class="font-bold text-xl">West</mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngFor="let section of westSectionItemList" class="cont">
            <div class="flex justify-between pt-1">
              <p>{{ section.Name }}</p>
              <span class="text-footer"
                ><a
                  href="mailto:{{ section.email }}"
                  target="_blank"
                  rel="noopener"
                >
                  <mat-icon class="icon">email</mat-icon> </a
                ><a
                  href="https://{{ section.website }}"
                  target="_blank"
                  rel="noopener"
                >
                  <mat-icon class="icon">launch</mat-icon>
                </a>
              </span>
            </div>
          </div>
        </mat-expansion-panel>
      </div>
      <div class="m-4">
        <mat-expansion-panel class="border border-esn-dark-blue rounded-lg">
          <mat-expansion-panel-header>
            <mat-panel-title class="font-bold text-xl"
              >South East</mat-panel-title
            >
          </mat-expansion-panel-header>
          <div *ngFor="let section of southEastSectionItemList" class="cont">
            <div class="flex justify-between pt-1">
              <p>{{ section.Name }}</p>
              <span class="text-footer"
                ><a
                  href="mailto:{{ section.email }}"
                  target="_blank"
                  rel="noopener"
                >
                  <mat-icon class="icon">email</mat-icon> </a
                ><a
                  href="https://{{ section.website }}"
                  target="_blank"
                  rel="noopener"
                >
                  <mat-icon class="icon">launch</mat-icon>
                </a>
              </span>
            </div>
          </div>
        </mat-expansion-panel>
      </div>
      <div class="m-4">
        <mat-expansion-panel class="border border-esn-green rounded-lg">
          <mat-expansion-panel-header>
            <mat-panel-title class="font-bold text-xl"
              >South West</mat-panel-title
            >
          </mat-expansion-panel-header>
          <div *ngFor="let section of southWestSectionItemList" class="cont">
            <div class="flex justify-between pt-1">
              <p>{{ section.Name }}</p>
              <span class="text-footer"
                ><a
                  href="mailto:{{ section.email }}"
                  target="_blank"
                  rel="noopener"
                >
                  <mat-icon class="icon">email</mat-icon> </a
                ><a
                  href="https://{{ section.website }}"
                  target="_blank"
                  rel="noopener"
                >
                  <mat-icon class="icon">launch</mat-icon>
                </a>
              </span>
            </div>
          </div>
        </mat-expansion-panel>
      </div>
    </mat-accordion>-->
  </div>
</div>
<div class="max-w-screen-xl m-auto sm:px-16 xl:mt-16 lg:mt-8 sm:mt-4">
  <div class="px-8 mb-24">
    <p class="font-body text-lg pb-4">
      In addition to that, many sections introduce mentor or buddy systems to
      help and guide mainly in their academic and official activities. Local
      associations also deal with the reintegration of homecoming students and
      support them to use their freshly gained experiences and to keep contact
      with the international environment. Our local associations are very
      diverse in size and activity level. Most of them actively take part in the
      life of our network through the various statutory events for example our
      National Assemblies or Local Platforms. They often work in good
      collaboration with their hosting Higher Education Institutions.
    </p>
    <div class="m-auto my-8 relative">
      <p class="font-heading text-esn-dark-blue font-bold text-4xl title">
        The Student Guidebook
      </p>
    </div>
    <div class="flex flex-wrap lg:flex-no-wrap">
      <a
        href="../../../assets/pdf/student_guidebook.pdf"
        target="_blank"
        rel="noopener"
      >
        <div
          class="flex items-center lg:flex-no-wrap flex-wrap font-body text-lg border border-graylight rounded shadow-xl"
        >
          <div class="m-4 mx-8">
            <img
              src="../../../assets/stud-guidebook.png"
              alt="Student Guidebook"
              class="w-48"
            />
          </div>
          <p
            class="font-body font-bold pb-2 px-8 text-esn-dark-blue hover:underline"
          >
            <!--      TODO: implement without material-->
            Open PDF <!--<mat-icon class="icon"> call_made </mat-icon>-->
          </p>
        </div>
      </a>
      <p class="font-body text-lg p-8">
        This document provides useful information if you are a student enrolled
        in a German university and consider going abroad with the ERASMUS+
        programme.
      </p>
    </div>
    <div class="m-auto my-8 relative">
      <p class="font-heading text-esn-dark-blue font-bold text-4xl title">
        Become an ESN Section
      </p>
    </div>
    <div class="flex flex-wrap lg:flex-no-wrap">
      <p class="font-body text-lg">
        If there is no ESN section yet in your city, you can consider founding
        one.
      </p>
      <div class="mb-16 mt-4">
        <img
          class="m-auto"
          src="../../../assets/How-to-become-an-ESN-section.png"
          alt="How to become an ESN section"
        />
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
