<app-navigation-dark></app-navigation-dark>
<div class="max-w-screen-xl m-auto sm:px-16 xl:mt-16 lg:mt-8 sm:mt-4">
  <div class="px-8 mb-24">
    <div class="m-auto mb-8 relative">
      <p class="font-heading text-esn-dark-blue font-bold text-3xl title">
        Find your section!
      </p>
    </div>
    <div class="mb-12">
      <img
        class="m-auto"
        src="../../../assets/sectionsmap.png"
        alt="Sections Map"
      />
    </div>
    <div class="m-auto mb-8 relative">
      <p class="font-heading text-esn-dark-blue font-bold text-3xl title">
        The ESNcard
      </p>
    </div>
    <div class="m-auto block">
      <p class="font-body text-lg">
        The ESNcard is first a membership card of the Erasmus Student Network.
        It is a proof of membership in an ESN section and so indirectly in the
        ESN Network. Secondly, it is used as a discount card in many cities and
        countries around Europe and provides you access to all services and
        discounts offered by ESN and our partners to international students. The
        ESNcard is valid for 12 months and only valid with a photo and correct
        personal data.
      </p>
    </div>
    <div class="m-auto my-8 relative">
      <p class="font-heading text-esn-dark-blue font-bold text-3xl title">
        Become a member of this awesome association!
      </p>
    </div>
    <div class="m-auto block">
      <p class="font-body text-lg">
        Get active in your city etc. (we are not a drinking organisation)
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>
