<esn-navigation-dark></esn-navigation-dark>
<div class="max-w-screen-xl m-auto sm:px-16 xl:mt-16 lg:mt-8 sm:mt-4">
  <div class="px-8 mb-8">
    <div class="m-auto mb-8 relative">
      <p class="font-heading text-esn-dark-blue font-bold text-4xl title">
        Find ESN in your city!
      </p>
    </div>
    <p class="font-body text-lg pb-4">
      ESN Germany relies on the action of its 42 local associations or so called
      “sections”, operating at the campus, university or city level, that
      directly work with the incoming students. Our local associations welcome,
      support and enrich the stay of international students through various
      actions (social, cultural, sport activities, welcome days, on-arrival
      support, Café Lingua, SocialErasmus, Erasmus In Schools, parties, etc.) to
      improve their social and practical integration.
    </p>
  </div>
</div>
<div class="max-w-screen-xl m-auto flex flex-wrap justify-evenly">
  <esn-sectionmap></esn-sectionmap>
  <div class="font-body">
    <p class="font-bold text-2xl">Sections ordered by region</p>
    <div class="m-4" *ngIf="northSections$ | async as northSections">
      <esn-expandable class="border border-esn-blue rounded-lg">
        <p slot="header" class="font-bold text-xl">North</p>
        <div *ngFor="let section of northSections" class="cont">
          <div class="flex justify-between pt-1">
            <p>
              {{ section.name }}
            </p>
            <span class="text-footer">
              <a
                href="mailto:{{ section.email }}"
                target="_blank"
                rel="noopener"
              >
                <img
                  src="assets/fonts/MaterialIcons/mail.png"
                  width="24px"
                  class="inline"
                />
              </a>
              <a
                href="https://{{ section.website }}"
                target="_blank"
                rel="noopener"
              >
                <img
                  src="assets/fonts/MaterialIcons/launch.png"
                  width="24px"
                  class="inline"
                />
              </a>
            </span>
          </div>
        </div>
      </esn-expandable>
    </div>
    <div class="m-4" *ngIf="eastSections$ | async as eastSections">
      <esn-expandable class="border border-esn-orange rounded-lg">
        <p slot="header" class="font-bold text-xl">East</p>
        <div *ngFor="let section of eastSections" class="cont">
          <div class="flex justify-between pt-1">
            <p>{{ section.name }}</p>
            <span class="text-footer"
              ><a
                href="mailto:{{ section.email }}"
                target="_blank"
                rel="noopener"
              >
                <img
                  src="assets/fonts/MaterialIcons/mail.png"
                  width="24px"
                  class="inline"
                />
              </a>
              <a
                href="https://{{ section.website }}"
                target="_blank"
                rel="noopener"
              >
                <img
                  src="assets/fonts/MaterialIcons/launch.png"
                  width="24px"
                  class="inline"
                />
              </a>
            </span>
          </div>
        </div>
      </esn-expandable>
    </div>
    <div class="m-4" *ngIf="westSections$ | async as westSections">
      <esn-expandable class="border border-esn-pink rounded-lg">
        <p slot="header" class="font-bold text-xl">West</p>
        <div *ngFor="let section of westSections" class="cont">
          <div class="flex justify-between pt-1">
            <p>{{ section.name }}</p>
            <span class="text-footer">
              <a
                href="mailto:{{ section.email }}"
                target="_blank"
                rel="noopener"
              >
                <img
                  src="assets/fonts/MaterialIcons/mail.png"
                  width="24px"
                  class="inline"
                />
              </a>
              <a
                href="https://{{ section.website }}"
                target="_blank"
                rel="noopener"
              >
                <img
                  src="assets/fonts/MaterialIcons/launch.png"
                  width="24px"
                  class="inline"
                />
              </a>
            </span>
          </div>
        </div>
      </esn-expandable>
    </div>
    <div class="m-4" *ngIf="southEastSections$ | async as southEastSections">
      <esn-expandable class="border border-esn-dark-blue rounded-lg">
        <p slot="header" class="font-bold text-xl">South East</p>
        <div *ngFor="let section of southEastSections" class="cont">
          <div class="flex justify-between pt-1">
            <p>{{ section.name }}</p>
            <span class="text-footer">
              <a
                href="mailto:{{ section.email }}"
                target="_blank"
                rel="noopener"
              >
                <img
                  src="assets/fonts/MaterialIcons/mail.png"
                  width="24px"
                  class="inline"
                />
              </a>
              <a
                href="https://{{ section.website }}"
                target="_blank"
                rel="noopener"
              >
                <img
                  src="assets/fonts/MaterialIcons/launch.png"
                  width="24px"
                  class="inline"
                />
              </a>
            </span>
          </div>
        </div>
      </esn-expandable>
    </div>
    <div class="m-4" *ngIf="southWestSections$ | async as southWestSections">
      <esn-expandable class="border border-esn-green rounded-lg">
        <p slot="header" class="font-bold text-xl">South West</p>
        <div *ngFor="let section of southWestSections" class="cont">
          <div class="flex justify-between pt-1">
            <p>{{ section.name }}</p>
            <span class="text-footer">
              <a
                href="mailto:{{ section.email }}"
                target="_blank"
                rel="noopener"
              >
                <img
                  src="assets/fonts/MaterialIcons/mail.png"
                  width="24px"
                  class="inline"
                />
              </a>
              <a
                href="https://{{ section.website }}"
                target="_blank"
                rel="noopener"
              >
                <img
                  src="assets/fonts/MaterialIcons/launch.png"
                  width="24px"
                  class="inline"
                />
              </a>
            </span>
          </div>
        </div>
      </esn-expandable>
    </div>
  </div>
</div>
<div class="max-w-screen-xl m-auto sm:px-16 xl:mt-16 lg:mt-8 sm:mt-4">
  <div class="px-8 mb-24">
    <p class="font-body text-lg pb-4">
      In addition to that, many sections introduce mentor or buddy systems to
      help and guide mainly in their academic and official activities. Local
      associations also deal with the reintegration of homecoming students and
      support them to use their freshly gained experiences and to keep contact
      with the international environment. Our local associations are very
      diverse in size and activity level. Most of them actively take part in the
      life of our network through the various statutory events for example our
      National Assemblies or Local Platforms. They often work in good
      collaboration with their hosting Higher Education Institutions.
    </p>
    <div class="m-auto my-8 relative">
      <p class="font-heading text-esn-dark-blue font-bold text-4xl title">
        The Student Guidebook
      </p>
    </div>
    <div class="flex flex-wrap lg:flex-no-wrap">
      <a
        data-testid="esn-students-pdf"
        href="/assets/pdf/student_guidebook.pdf"
        target="_blank"
        rel="noopener"
      >
        <div
          class="flex items-center lg:flex-no-wrap flex-wrap font-body text-lg border border-graylight rounded shadow-xl"
        >
          <div class="m-4 mx-8">
            <img
              src="/assets/stud-guidebook.jpg"
              alt="Student Guidebook"
              class="w-48"
            />
          </div>
          <p
            class="font-body font-bold pb-2 px-8 text-esn-dark-blue hover:underline"
          >
            Open PDF
            <img
              src="assets/fonts/MaterialIcons/call_made.png"
              width="24px"
              class="inline"
            />
          </p>
        </div>
      </a>
      <p class="font-body text-lg p-8">
        This document provides useful information if you are a student enrolled
        in a German university and consider going abroad with the ERASMUS+
        programme.
      </p>
    </div>
    <div class="m-auto my-8 relative">
      <p class="font-heading text-esn-dark-blue font-bold text-4xl title">
        Become an ESN Section
      </p>
    </div>
    <div class="flex flex-wrap lg:flex-no-wrap">
      <p class="font-body text-lg">
        If there is no ESN section yet in your city, you can consider founding
        one. If you have any questions, contact our Vice President at
        <a
          href="mailto:vice-president@esn-germany.de"
          target="_blank"
          rel="noopener"
          class="text-esn-dark-blue hover:underline"
          >vice-president@esn-germany.de</a
        >.
      </p>
      <div class="mb-16 mt-4">
        <img
          class="m-auto w-2/3"
          src="/assets/How-to-become-an-ESN-section.jpg"
          alt="How to become an ESN section"
        />
      </div>
    </div>
  </div>
</div>
<esn-footer></esn-footer>
