<app-navigation-dark></app-navigation-dark>
<div class="max-w-screen-xl m-auto sm:px-16 xl:mt-16 lg:mt-8 sm:mt-4">
  <div class="px-8 mb-24">
    <div class="m-auto mb-8 relative">
      <p class="font-heading text-esn-dark-blue font-bold text-3xl title">
        Our Current Partners
      </p>
    </div>
    <div class="mb-12">
      <img
        class="m-auto"
        src="../../../assets/tk.jpg"
        alt="Techniker Krankenkasse Logo"
      />
    </div>
    <div class="m-auto block">
      <p class="font-body text-lg">Our special snowflakes with logo.</p>
    </div>
    <div class="m-auto my-8 relative">
      <p class="font-heading text-esn-dark-blue font-bold text-3xl title">
        Become a Partner!
      </p>
    </div>
    <div class="mb-12">
      <img class="m-auto" src="../../../assets/partner.jpg" alt="We need you" />
    </div>
    <div class="m-auto block">
      <p class="font-body text-lg">
        We need the money. Contact us but we don't have a contact form.
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>
