<app-navigation-dark activeMenu="partners"></app-navigation-dark>
<div class="max-w-screen-xl m-auto sm:px-16 xl:mt-16 lg:mt-8 sm:mt-4">
  <div class="px-8 mb-24">
    <div class="m-auto mb-8 relative">
      <p class="font-heading text-esn-dark-blue font-bold text-4xl title">
        To Do
      </p>
    </div>
    <div class="m-auto block mb-16">
      <p class="font-body text-lg">
        Waiting for texts from Partnership Manager.
      </p>
    </div>
    <div class="m-auto mb-8 relative">
      <p class="font-heading text-esn-dark-blue font-bold text-4xl title">
        Our National Partners
      </p>
    </div>
  </div>
</div>
<div class="max-w-screen-xl m-auto mb-16 mt-6">
  <div
    class="px-8 flex flex-wrap items-center justify-evenly font-body text-lg"
  >
    <ng-container *ngFor="let partner of partnersItemList">
      <a href="{{ partner.Link }}" target="_blank" rel="noopener">
        <figure class="mx-16 my-8 zoom">
          <img
            class="w-48"
            src="https://strapi.esn-germany.de{{
              partner.Logo.formats.medium.url
            }}"
            alt="{{ partner.Logo.alternativeText }}"
          />
        </figure>
      </a>
    </ng-container>
  </div>
</div>
<div class="max-w-screen-xl m-auto sm:px-16 xl:mt-16 lg:mt-8 sm:mt-4">
  <div class="px-8 mb-12">
    <div class="m-auto my-8 relative">
      <p class="font-heading text-esn-dark-blue font-bold text-4xl title">
        Interested? Become a Partner!
      </p>
    </div>
    <div class="m-auto block mb-16">
      <p class="font-body text-lg">We need the money.</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
