.title::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -12px;
  width: 73px;
  height: 5px;
  background: #2e3192;
}

.zoom {
  transition: transform 0.2s;
  width: 256px;
}

.zoom:hover {
  transform: scale(1.08);
}

.hx {
  height: 160px;
}
