<app-navigation-dark activeMenu="news"></app-navigation-dark>
<div class="max-w-screen-xl m-auto sm:px-16 xl:mt-16 lg:mt-8 sm:mt-4">
  <div class="p-8 mb-16 border rounded border-graylight shadow-xl">
    <div class="m-auto mb-8 relative">
      <p class="font-heading text-esn-dark-blue font-bold text-3xl title">
        Corona Strikes Again
      </p>
    </div>
    <div class="m-auto block">
      <div class="flex flex-wrap items-center justify-between">
        <img src="../../../assets/corona.jpg" alt="corona" class="w-1/4 pr-8" />
        <p class="font-body text-lg w-3/4">
          We are sad to announce that all platforms are cancelled or held
          online. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
          diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
          erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
          et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
          Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
          sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat, sed diam voluptua. <br />
          <a
            href="https://esn.org"
            target="_blank"
            rel="noopener"
            class="text-esn-dark-blue"
            >More info</a
          >
        </p>
      </div>
      <p class="font-body font-bold text-lg py-4 text-gray text-right">
        28.10.2020, John Doe
      </p>
    </div>
  </div>
  <div class="p-8 mb-24 border rounded border-graylight shadow-xl">
    <div class="m-auto mb-8 relative">
      <p class="font-heading text-esn-dark-blue font-bold text-3xl title">
        Spree Break is Cancelled
      </p>
    </div>
    <div class="m-auto block">
      <div class="flex flex-wrap items-center justify-between">
        <img
          src="../../../assets/spreeb.jpeg"
          alt="corona"
          class="w-1/4 pr-8"
        />
        <p class="font-body text-lg w-3/4">
          The sadness for our bank account. Lorem ipsum dolor sit amet,
          consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
          labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos
          et accusam et justo duo dolores et ea rebum. Stet clita kasd
          gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
          rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
          ipsum dolor sit amet.
        </p>
      </div>
      <p class="font-body font-bold text-lg py-4 text-gray text-right">
        22.05.2020, Piet Pompies
      </p>
    </div>
  </div>
  <p class="mb-24 px-8 text-center font-body">
    Do you want to write an article? Contact us at
    <a
      href="mailto:someone@esn-germany.de"
      target="_blank"
      rel="noopener"
      class="text-esn-dark-blue"
      >someone@esn-germany.de</a
    >.
  </p>
</div>
<app-footer></app-footer>
