<esn-navigation-dark></esn-navigation-dark>
<ng-container *ngIf="news$ | async as newsItemList; else loading">
  <div class="max-w-screen-xl m-auto sm:px-16 xl:mt-16 lg:mt-8 sm:mt-4">
    <div
      *ngFor="let ni of newsItemList"
      class="p-8 mb-16 border rounded border-graylight shadow-xl overflow-hidden"
    >
      <div class="m-auto mb-4 relative w-full">
        <p
          id="{{ ni.id }}"
          class="font-heading text-esn-dark-blue font-bold text-4xl title w-full relative"
        >
          {{ ni.title }}
        </p>
      </div>
      <div class="m-auto font-body text-lg">
        <figure class="pl-8 pb-0 pr-0 pt-0 float-right w-2/5">
          <img
            src="{{ directusImageUrl }}{{ ni.image }}?height=300"
            alt=""
            class="pb-4"
          />
        </figure>
        <p class="text-gray pb-4 text-xl">
          {{ ni.author }} – {{ ni.published | date: "mediumDate" }}
        </p>
        <div class="news{{ ni.id }}">
          <markdown [data]="ni.text"></markdown>
          <div *ngIf="ni.attachment" class="my-4">
            <p>Open attachment:</p>
            <a
              href="{{ directusImageUrl }}{{ ni.attachment }}?download"
              target="_blank"
              rel="noopener"
              class="font-body text-lg text-esn-dark-blue hover:underline"
            >
              Document PDF
              <img
                src="assets/fonts/MaterialIcons/call_made.png"
                width="24px"
                class="inline"
                alt="open pdf"
            /></a>
          </div>
        </div>
      </div>
    </div>
    <p class="mb-24 px-8 text-center font-body">
      Do you want to write an article? Contact us at
      <a
        href="mailto:board@esn-germany.de"
        target="_blank"
        rel="noopener"
        class="text-esn-dark-blue hover:underline"
        >board@esn-germany.de</a
      >.
    </p>
  </div>
</ng-container>
<ng-template #loading>
  <img width="200px" class="m-auto mb-22" src="assets/ESN-star-spinner.gif" alt="loading"/>
</ng-template>
<esn-footer></esn-footer>
