<app-navigation-dark></app-navigation-dark>
<div class="max-w-screen-xl m-auto sm:px-16 pt-8 xl:mt-28 lg:mt-22 sm:mt-16">
  <div class="px-8 mb-16">
    <div class="m-auto mb-8 relative">
      <p class="font-heading text-esn-dark-blue font-bold text-5xl title">
        Oopsie... Page not found.
      </p>
    </div>
    <ul class="px-8 m-auto block list-disc">
      <li>
        <a
          class="font-body text-xl text-esn-dark-blue hover:underline"
          routerLink="/"
          routerLinkActive="active"
          >Home
        </a>
      </li>
      <li>
        <a
          class="font-body text-xl text-esn-dark-blue hover:underline"
          routerLink="/our-network"
          routerLinkActive="active"
          >Our Network
        </a>
      </li>
      <li>
        <a
          class="font-body text-xl text-esn-dark-blue hover:underline"
          routerLink="/for-students"
          routerLinkActive="active"
          >For Students
        </a>
      </li>
      <li>
        <a
          class="font-body text-xl text-esn-dark-blue hover:underline"
          routerLink="/for-partners"
          routerLinkActive="active"
          >For Partners
        </a>
      </li>
      <li>
        <a
          class="font-body text-xl text-esn-dark-blue hover:underline"
          routerLink="/news"
          routerLinkActive="active"
          >News
        </a>
      </li>
    </ul>
  </div>
</div>
<app-footer></app-footer>
