<esn-navigation-dark></esn-navigation-dark>
<esn-article title="Oopsie... Page not found.">
  <ul class="px-8 m-auto block list-disc mb-32">
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        routerLink="/"
        routerLinkActive="active"
        >Home
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        routerLink="/our-network"
        routerLinkActive="active"
        >Our Network
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        routerLink="/for-students"
        routerLinkActive="active"
        >For Students
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        routerLink="/for-partners"
        routerLinkActive="active"
        >For Partners
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        routerLink="/news"
        routerLinkActive="active"
        >News
      </a>
    </li>
    <li>
      <a
        class="font-body text-xl text-esn-dark-blue hover:underline"
        routerLink="/imprint"
        routerLinkActive="active"
        >Imprint
      </a>
    </li>
  </ul>
</esn-article>
<esn-footer></esn-footer>
