.menu {
  position: absolute;
  top: 0;
  right: 0;
}

.addhover:hover:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -4px;
  width: 48px;
  height: 3px;
  background: #fff;
}

.mr-32 {
  margin-right: 8rem;
}

.active {
  color: #00aeef;
}
