<div class="bg-cover bg-center m-auto">
  <div class="w-full">
    <ul
      class="z-10 font-body text-white text-xl bg-footer float-right w-3/5 hidden absolute right-0"
      id="menu"
    >
      <a href="/">
        <li class="p-4 pl-8 border-b border-white">Home</li>
      </a>
      <a routerLink="/our-network" routerLinkActive="active">
        <li class="p-4 pl-8 border-b border-white">Our Network</li>
      </a>
      <a routerLink="/for-students" routerLinkActive="active">
        <li class="p-4 pl-8 border-b border-white">For Students</li>
      </a>
      <a routerLink="/for-partners" routerLinkActive="active">
        <li class="p-4 pl-8 border-b border-white">ESNcard & Partners</li>
      </a>
      <a routerLink="/news" routerLinkActive="active">
        <li class="p-4 pl-8 border-b border-white">News</li>
      </a>
      <a routerLink="/imprint" routerLinkActive="active">
        <li class="p-4 pl-8 border-b border-white">Imprint</li>
      </a>
      <a routerLink="/contact-us" routerLinkActive="active">
        <li class="p-4 pl-8">Contact Us</li>
      </a>
    </ul>
  </div>
  <div class="w-full mb-16">
    <nav
      class="flex flex-wrap items-center max-w-screen-xl justify-between m-auto sm:px-16 pt-8 font-body"
    >
      <div class="flex items-center flex-shrink-0 text-2xl pr-8">
        <a routerLink="/" routerLinkActive="active"
          ><img
            class="h-26 ml-8"
            alt="ESN logo"
            src="/assets/logo/DE_colour-white.png"
        /></a>
      </div>
      <div
        class="px-8 w-full block flex-grow lg:flex lg:items-center lg:w-auto hidden lg:visible"
      >
        <div class="text-2xl flex justify-between lg:flex-grow max-w-screen-xl">
          <div class="relative">
            <a routerLink="/our-network" routerLinkActive="active"
              ><button
                type="button"
                id="network-button"
                class="mt-4 mr-2 inline-block font-bold text-white focus:outline-none addhover"
              >
                Our Network
              </button>
            </a>
          </div>
          <div class="relative">
            <a routerLink="/for-students" routerLinkActive="active">
              <button
                type="button"
                id="students-button"
                class="mt-4 mr-2 inline-block font-bold text-white ocus:outline-none addhover"
              >
                For Students
              </button>
            </a>
          </div>
          <div class="relative">
            <a routerLink="/for-partners" routerLinkActive="active">
              <button
                type="button"
                id="partners-button"
                class="mt-4 mr-2 inline-block font-bold text-white focus:outline-none addhover"
              >
                ESNcard & Partners
              </button></a
            >
          </div>
          <div class="relative">
            <a routerLink="/news" routerLinkActive="active">
              <button
                type="button"
                id="news-button"
                class="mt-4 mr-2 inline-block font-bold text-white focus:outline-none addhover"
              >
                News
              </button>
            </a>
          </div>
          <div class="relative">
            <a routerLink="/contact-us" routerLinkActive="active">
              <button
                type="button"
                id="contact-button"
                class="mt-4 mr-2 inline-block font-bold text-white focus:outline-none addhover"
              >
                Contact Us
              </button>
            </a>
          </div>
        </div>
      </div>
      <div class="block pr-8 sm:pr-16 lg:hidden" id="burger">
        <button
          class="flex items-center px-3 py-2 border rounded text-white border-white"
          (click)="showMenu()"
        >
          <svg class="fill-current h-4 w-4" viewBox="0 0 20 20">
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
          </svg>
        </button>
      </div>
    </nav>
  </div>
</div>
<div class="max-w-screen-2xl m-auto">
  <div class="m-auto">
    <div class="fixed bottom-0 right-0 visible lg:invisible z-10 mr-32 mb-4">
      <a
        href="https://www.instagram.com/esngermany/"
        target="_blank"
        rel="noopener"
        ><button class="bg-esn-dark-blue p-2 rounded-full hov">
          <img
            class="m-2 h-6"
            src="/assets/social/instagram.png"
            alt="Instagram logo"
          /></button
      ></a>
      <a href="https://facebook.com/esngermany/" target="_blank" rel="noopener"
        ><button class="bg-esn-dark-blue p-2 rounded-full mx-2 hov">
          <img
            class="m-2 h-6"
            src="/assets/social/facebook.png"
            alt="Facebook logo"
          /></button
      ></a>
      <a
        href="https://www.linkedin.com/company/erasmus-student-network-germany/"
        target="_blank"
        rel="noopener"
        ><button class="bg-esn-dark-blue p-2 rounded-full mx-2 hov">
          <img
            class="m-2 h-6"
            src="/assets/social/linkedin.png"
            alt="LinkedIn logo"
          /></button
      ></a>
      <a href="https://twitter.com/esngermany/" target="_blank" rel="noopener"
        ><button class="bg-esn-dark-blue p-2 rounded-full hov">
          <img
            class="m-2 h-6"
            src="/assets/social/twitter.png"
            alt="Twitter logo"
          /></button
      ></a>
    </div>
  </div>
</div>
